.DS_Store
.ipynb_checkpoints/
__pycache__/
.expanding_kernel

*.ipynb
*.pptx
*.png
*.fits

make.gif.py
movie.constant.kernel.py
movie.constant.kernel/
movie.expanding.kernel/
basic-idea.py
basic-idea/

kiral.mplstyle
kiral/
kiraltools.py
